body {
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
h2 {
    font-size: 26px;
    color: #271ECC;
}
 a {
     color: #000000;
     text-decoration: none;
 }
 a:hover {
     color: #0000000;
     text-decoration: none;
 }
 h3 {
      color: #FF0F0F;
     font-size: 20px;
 }
 h4 {
     color: yallow;
     opacity: 0.5;
     font-size: 18px;
 }
p {
    background: none;
    font-size: 15px;
}
button {
    background: #D2D2D2;
    border: none;
    color: #FFFFFF;
}
  header , footer {
      background: white url(Notes/images_3.jpeg) scroll no-repeat;
      text-align: center;
      padding: 10px;
      color: white;
      background-size: cover;

  }
      /*-------Main Navigation-------*/
      nav{
          background-color: blue;
          overflow: hidden;
      }
      nav ul{
          list-style-type: none;
          padding 0;
      }
       nav ul li{
           float: left;
       }
       nav ul li a{
          text-decoration: none;
          color: white;
          padding: 15px 25px;
          display: inline-block;
          font-size: 18px;
       }
  /*-------------sidebar section------------*/
  aside {
      background-color: lightgray;
      float: left;
      width:200px;
      text-align: center;
  }
   aside ul{
       list-style-type: none;
       padding: 0;
       margin: 0px;
   }
   aside ul li a{
       text-decoration: none;
       color: black;
       padding: 15px 15px;
       display: block;
   }
aside ul li a:hover{
    background-color: #7BCC8A;
    color: white;
}
/*---------main content---------*/
section {
    margin-left: 100px;
    border-left: 2px solid gray;
    padding; 16px;

}
details {
    background-color: #91CC7B;
    margin: 10px;
    padding: 10px;
    color: white;
    border-radius:100px;
}
